*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    
}
.body{
    background: linear-gradient(to right, rgb(212, 229, 248), rgb(239, 247, 250));
    background-repeat: no-repeat;
   

}
.box{
    width: 500px;
    margin: 20px;
    background: linear-gradient(to right, rgb(200, 187, 251) ,rgb(147, 202, 247));
}
.box h1{
    color: rgb(12, 43, 246);
}
p{
    color: rgb(36, 119, 245);
}
.res{
    background-color: rgb(234, 240, 247);
}
.res h2{
    font-weight: 900;
    font-size: 50px;
    color: cornflowerblue;
}
.res h4{
    color: goldenrod;
}
